# Vim swap files
*.swp

# Python
*.pyc
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# binary file formats
*.docx
*.gif
*.jpeg
*.jpg
*.mkv
*.mp3
*.mp4
*.pdf
*.pickle
*.pkl
*.png
*.webm
*.webp
*.xlsx
*.zarrz

# archive formats
*.7z
*.gz
*.tgz
*.zip

# other file formats
*.csv
*.epub
*.html
*.ipynb
*.tsv

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log

