# Vim swap files
*.swp

# Python
*.pyc
poetry.lock

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# binary file formats
*.pdf
*.png
*.jpg
*.jpeg
*.webm
*.mp3
*.mp4
*.mkv
*.pickle
*.docx

# archive formats
*.zip
*.7z
*.tgz
*.gz

# other file formats
*.html
*.csv
*.ipynb
*.epub

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
