; .gitconfig
; vim: set filetype=gitconfig :


; https://git-scm.com/book/en/v2/Customizing-Git-Git-Configuration
; man git config


[user]
    ; full name
    ;name = William Stark
    ; email address
    ;email = william.stark.5000@gmail.com
    ;email = william@ebi.ac.uk
    ; GPG signing key ID
    ;signingkey =

[core]
    ; the text editor to use for commits and tag messages
    editor = vim
    excludesfile = ~/dotfiles/data/.gitignore

[init]
    defaultBranch = main

[pull]
    rebase = false

[push]
    default = simple

[color]
    ; turn on all the default terminal coloring
    ;ui = true
    ui = auto
[color "diff"]
    meta = yellow bold
    commit = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    untracked = cyan

[log]
    ; Print out the ref names of any commits that are shown.
    decorate = true

;[diff]
;    ; http://stackoverflow.com/questions/777949/can-i-make-git-recognize-a-utf-16-file-as-text
;    ; diff tool to be used by git-difftool
;    tool = vimdiff

;[ui]
;    ui = auto

;[merge]
;    tool = vimdiff


; delta
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
; https://github.com/dandavison/delta
[core]
    ; the command that git will use to paginate output
    ;pager = less -FRX
    ;pager = delta
    pager = delta --diff-so-fancy --max-line-length 2048
    ;pager = delta --light
;[delta]
;    syntax-theme = GitHub
;    ;syntax-theme = Monokai Extended Light
;    ;syntax-theme = OneHalfLight
;    ;syntax-theme = Solarized (light)
;    ;syntax-theme = ansi-light
;    ;syntax-theme = gruvbox-light
;    ;syntax-theme = gruvbox-white
[interactive]
    ;diffFilter = delta --color-only
    ;diffFilter = delta --light --color-only
    diffFilter = delta --diff-so-fancy --max-line-length 2048 --color-only
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


; [commit]
;     ; GPG sign all commits
;     gpgSign = true


; load EBI user details for EBI code
[includeIf "gitdir:/data/EMBL-EBI/"]
    path = /data/EMBL-EBI/code/EBI_config/.gitconfig
[includeIf "gitdir:/d/EMBL-EBI/"]
    path = /d/EMBL-EBI/code/EBI_config/.gitconfig
