; .gitconfig
; vim: set filetype=gitconfig :


; http://git-scm.com/book/en/Customizing-Git-Git-Configuration
; man git config


[user]
    ; full name
    name = William Stark
    ; email address
    email = william@ebi.ac.uk
    ; GPG signing key ID
    signingkey =
